body {
  padding: 50px;
  font: bold 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
 color: white;
 display: block;
}

.image {
  background-image: url(../images/drone-pic.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}

a {
  color: #00b7ff;
}
